
<div class="top-nav">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>view_list</mat-icon>
            <span>Manage Products</span>
        </button>
        <button mat-menu-item>
            <mat-icon>inbox</mat-icon>
            <span>Inbox</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_active</mat-icon>
            <span>Notifications</span>
        </button>
        <button mat-menu-item>
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
    </mat-menu>
    <h2 class="title">WIKIPI</h2>
    <div style="border: 1px solid black;vertical-align: middle;">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="search-box" type="text" style="border: none;"/>
        <button class="search-button" (click)="onSearch()">Search</button>
    </div>
    <a mat-button class="add-product"><mat-icon>add</mat-icon>Add Product</a>
    <div class="links">
        <a mat-button href="https://www.google.com/" target="_blank"><mat-icon>person_add</mat-icon>Signup</a>
        <a mat-button href="https://www.google.com/" target="_blank"><mat-icon>login</mat-icon>Log in</a>
        <a mat-button href="https://www.google.com/" target="_blank"><mat-icon>logout</mat-icon>Logout</a>
    </div>
</div>
<router-outlet></router-outlet>