
<div class="top-nav">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="main menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *whenSession="isMenuForSession">
            <mat-icon>view_list</mat-icon>
            <span>Manage Products</span>
        </button>
        <button mat-menu-item *whenSession="isMenuForSession">
            <mat-icon>inbox</mat-icon>
            <span>Inbox</span>
        </button>
        <button mat-menu-item *whenSession="isMenuForSession">
            <mat-icon>notifications_active</mat-icon>
            <span>Notifications</span>
        </button>
        <div *whenSession="true">
            <hr/>
        </div>
        <button mat-menu-item (click)="onAbout()">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
    </mat-menu>
    <h2 class="title">WikiPI</h2>
    <div class="search-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Search WikiPI"/>
        <button class="search-button" (click)="onSearch()">Search</button>
    </div>
    <a mat-button class="add-product" *whenSession="isMenuForSession"><mat-icon>add</mat-icon>Add Product</a>
</div>
<router-outlet></router-outlet>